[submodule "etc/site-lisp/vundo"]
	path = etc/site-lisp/vundo
	url = git@github.com:casouri/vundo.git
[submodule "elpa-mirror"]
	path = elpa-mirror
	url = git@github.com:ingtshan/novicelpa.git
[submodule "etc/site-lisp/notdeft"]
	path = etc/site-lisp/notdeft
	url = git@github.com:hasu/notdeft.git
[submodule "var/pyim-dicts/tool/hz2py"]
	path = var/pyim-dicts/tool/hz2py
	url = git@github.com:ingtshan/hz2py.git
[submodule "var/pyim-dicts/tool/scel2pyim"]
	path = var/pyim-dicts/tool/scel2pyim
	url = git@github.com:E-Neo/scel2pyim.git
[submodule "var/rime/liberime"]
	path = var/rime/liberime
	url = git@github.com:merrickluo/liberime.git
